<div class="wrap">
  <div id="icon-generic" class="icon32"><br></div><h2>Twig Settings</h2>
  <form method="post" action="{{ action }}">
  {% if message is defined %}
    <div class="message updated below-h2">
      <p>{{ message }}</p>
    </div>
  {% endif %}
    <h3>Cache</h3>
    <p>
      Clear the Twig template cache only when updates to the theme templates has been deployed.<br>
      This will cause all templates to be recompiled down to plain optimized PHP code.
    </p>
    <input type="hidden" name="option_page" value="general">
    <input type="hidden" name="action" value="update">
    <input type="hidden" id="_wpnonce" name="_wpnonce" value="dca26bed87">
    <input type="hidden" name="_wp_http_referer" value="/wp-admin/options-general.php">
    <p class="submit">
      <input type="submit" name="submit" id="submit" class="button button-primary" value="Clear cache">
    </p>
  </form>
</div>